* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection{
    color: #fff;
    background-color: var(--main-color); 
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--seconde-color) ;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}
:root{
    --main-color: #A4A1BC;
    --seconde-color: #eceff1ea;
    --title-color: #222;
    --subtitle-color: #8d8d8d;
}

body {
    /* font-family: 'DM Serif Text', serif; */
    font-family: 'Cardo';
    min-height: 100vh;
    height: 1000px;
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style: none
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 90px 0 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
}

.btn {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    transition: .4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.btn i {
    font-size: 20px;
    margin-left: 10px;
}

.section_title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: .8;
    color: #222;
    position: relative;
    margin-bottom: 100px;
    padding-bottom: 20px;

}

.section_title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 2px;
    background-color: var(--main-color);
}

/* .section_title::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);   
} */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

/* Header section */
header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.30);
    background-color: #F8F6F4;

}

header.active {
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
}

.menu {
    white-space: nowrap;
    transition: .5s;
    z-index: 999;
    position: relative;
}

.menu_item {
    display: inline-block;
    font-size: 20px;
}
 
.menu_link {
    padding: 5px 10px;
    position: relative;
    transition: .4s;
    color: #333;
    font-weight: 500;
}

.menu_link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: scale(0);
    transition: .4s;
}

.menu_link:hover {
    color: var(--main-color) 
}

.active-link {
    color: var(--main-color);
}

.menu_link.active-link::before,
.menu_link:hover::before {
    transform: scale(1);
}

.close_icon {
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: 250px;
    z-index: 1000;
    color: var(--main-color);
    cursor: pointer;
    display: none; 
}

.toggle_icon {
    font-size: 32px;
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 30px;
    }
    .menu{
        position: absolute;
        right: 0;
        top: 0;
        background-color:#eee;
        height: 100vh;
        padding-top: 100px;
        width: 300px;
        text-align: center;
        transform: translateX(110%);
        box-shadow: -10px 0 20px rgba(0,0,0,.15);
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu_item {
        display: block;
        margin: 20px 0;
    }
    .menu_link {
        color: #333;
    }
    .toggle_icon {
        display: block;
    }
    .close_icon {
        display: block;
    }
} 

/* Hero Section */
.hero {
    padding-top: 200px;
    /* height: 100vh; */
    position: relative;
    display: block;
}

.hero_container {
    align-items: center;
}

.hero_container h4 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

.hero_container h4 .part-one {
    color: var(--title-color); /* Color for "Hi, I'm" */
}

.hero_container h4 .part-two {
    color: var(--main-color); /* Color for "Jewel Reese" */
}

.hero_container h1 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'DM Serif Text';
    white-space: nowrap;
    margin-bottom: 10px;
    color: var(--title-color);
}

.hero_container p {
    margin: 10px 0 40px;
    color: #333;
    font-size: 18px;
    font-style: italic;
}

.hero_container .btn {
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
}

.hero_social {
    display: flex;
    column-gap: 20px;
}

.hero_social a {
    font-size: 22;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #333;
    transition: .3s;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.hero_social a:hover{
    color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}

.hero_img {
    text-align: right;
    transition: 300ms;
    max-width: 100%; 
}

.hero_img img:hover {
    transform: rotate(-6deg);
}


@media screen and (max-width: 768px) {
    .hero_content h4 {
        font-size: 16px;
    }
    .hero_content p {
        font-size: 15px;
    }

    .hero_container h1 {
        font-size: 32px; /* Adjusting font size for smaller screens */
    }
}

@media screen and (max-width: 576px) {

    .hero_container {
        grid-template-columns: 1fr;
        row-gap: 2 rem;
        justify-content: center;
    }
    .hero_content {
        order: 2;
        text-align: center;
    }
    .hero_social {
        justify-content: center;
    }
    .hero_img {
        text-align: center;
    }
    .hero_container h4 {
        padding-top: 50px;
    }
}


/* About Section */


/* Projects Section */
.project {
    padding-top: 114px;
    position: relative;
    display: block;
}

.project_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Optional: If you want the content to be centered vertically and horizontally */
}

.project_content h4 {
    font-size: 28px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}

/* Experience Section */
.experience_container {
    grid-template-columns: 1fr 5fr;
}

.experience_tabs ul {
    position: sticky;
    top: 150px;
}

.experience_tabs ul li a {
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
    color: #222;
    position: relative;
    transition: .3s;
}

.experience_tabs ul li a.current {
    color: var(--main-color);
    margin-left: 20px;
    position: relative;
}

.experience_tabs ul li a.current::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -35%;
    transform: translate(-50%);
    width: 30px;
    height: 2px;
    background-color: var(--main-color);
}

.page {
    margin-bottom: 70px;
}

.page_heading {
    font-size: 25px;
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: 25px;
}

.experience_wrap {
    background-color: #faf9ff;
    margin-bottom: 15px;
    padding: 40px 30px;
    display: flex;
    position: relative;
    border-radius: 10px;
    transition: .3s;
}

.experience_wrap-icon {
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience_wrap-icon i {
    font-size: 25px;
    color: #fff;
}

.experience_wrap-content {
    width: calc(100% - 100px);
    padding: 0 0 10px 10px;
}

.experience_wrap .date {
    font-weight: 600;
}

.experience_wrap h4 {
    font-size: 20px;
    color: var(--title-color);
}

.experience_wrap-content .position {
    color: var(--subtitle-color);
    font-size: 14px;
    font-weight: 400;
}

.experience_wrap-content p {
    color: var(--subtitle-color);
    font-size: 14px;
    margin-top: 15px;
}

.experience_wrap:hover {
    background-color: var(--main-color);
    color:#faf9ff;
}

.experience_wrap:hover .experience_wrap-icon {
    background-color: var(--main-color);
}

.experience_wrap:hover h4,
.experience_wrap:hover span,
.experience_wrap:hover p {
    color: #fff
}

.page.two .btn {
    margin-top: 40px; /* Adjust this value to increase top space */
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition: .4s;
}


.page.two .btn:hover {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

/* Skills */

.progressBox {
    gap: 3rem;
}

.progress_name {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: 10px;
}

.progress {
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: var(--seconde-color);
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}

.progress_bar {
    height: 100%;
    border-radius: 10px;
    background-color: var(--main-color);
    position: relative;
}

.progress_bar::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% - 7px);
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
}

@media screen and (max-width: 992) {
    .experience_container {
        grid-template-columns: 1fr;
    }
    .experience_tabs {
        display: none;
    }
    .experience_wrap {
        padding: 20px 15px;
    }
}

@media screen and (max-width: 576px) {
    .experience_tabs {
        display: none;
    }
    .experience_container {
        grid-template-columns: 1fr;
    }
    .experience_wrap {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .experience_wrap .experience_wrap-icon {
        margin-bottom: 15px;
    }
    .resume_wrap-content {
        width: 100%;
    }
    .progressBoxs {
        grid-template-columns: 1fr;
    }
}


/* Portfolio Section */
.portfolio.section {
    padding: 50px 0;
}

.portfolio-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px; /* Adjust as needed */
}

.portfolio-preview {
    background-color: #F8F6F4; /* Background color of the preview box */
    border-radius: 10px;
    padding: 40px 100px;
    max-width: 1200px; /* Adjust as needed */
    display: flex; /* Added */
    flex-direction: row-reverse; /* Flip the flex direction */
    align-items: center;
}

.project-info {
    flex: 1; /* Added */
    margin-left: 60px; /* Adjust as needed */
    text-align: left; /* Adjusted alignment */
}

.project-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-info h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn_icon {
    margin-left: 5px;
}

.phone-prototype {
    display: flex;
    justify-content: flex-end; /* Adjusted */
}

.phone-prototype img {
    width: auto;  /* Allow natural image width unless it exceeds the container width */
    max-width: 300px; /* Increase this value based on your preference */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Existing margin for spacing */
}

.extended_button {
    display: block;
    width: 100%;
    padding: 15px 0; /* Adjust padding as needed */
    background-color: var(--main-color); /* Example: Blue background, replace with your color */
    color: #FFFFFF; /* Text color, replace if needed */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


@media (max-width: 992px) {
    .portfolio-preview {
        flex-direction: column; /* Stack elements vertically */
        padding: 40px; /* Adjust padding for smaller screens */
    }

    .project-info {
        margin-left: 0; /* Remove left margin */
        margin-top: 20px; /* Add top margin to separate from prototype images */
        order: 0; /* Reset order */
    }

    .phone-prototype {
        justify-content: center; /* Center prototype images */
        margin-top: 20px; /* Add top margin */
        order: 1; /* Reset order */
    }

    .btn {
        margin-top: 20px; /* Add top margin to the button */
    }

    .project-info h2 {
        font-size: 20px; /* Adjusted font size */
    }

    .project-info h3 {
        font-size: 16px; /* Adjusted font size */
    }
}

@media (max-width: 520px) {
    .portfolio-preview {
        padding: 20px; /* Adjust padding for even smaller screens */
    }

    .project-info h2 {
        font-size: 18px; /* Further reduce font size for smaller screens */
    }

    .project-info h3 {
        font-size: 14px; /* Further reduce font size for smaller screens */
    }

    .btn {
        padding: 8px 16px; /* Adjust button padding for smaller screens */
        font-size: 14px; /* Adjust button font size for smaller screens */
    }
}

@media (max-width: 350px) {
    .portfolio-wrap {
        padding-bottom: 50px; /* Adjust padding for smaller screens */
    }

    .portfolio-preview {
        padding: 10px; /* Adjust padding for very small screens */
    }

    .project-info h2 {
        font-size: 16px; /* Further reduce font size for very small screens */
    }

    .project-info h3 {
        font-size: 12px; /* Further reduce font size for very small screens */
    }

    .btn {
        padding: 6px 12px; /* Adjust button padding for very small screens */
        font-size: 12px; /* Adjust button font size for very small screens */
    }
}

/* Contact */
.contact {
    padding-bottom: 100px;
}

.contact_container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.contact_content {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

input {
    margin-bottom: 30px;
    width: 100%
}

input,
textarea {
    border-radius: 10px;
    padding: 20px;
    border: none;
    outline: none;
    background-color: #eee;
    color: var(--title-color);
    font-size: 16px;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 5px #a8a8a8;
}

.contact_content .btn {
    width: 185px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

@media screen and (max-width: 576) {
    .contact_content {
        padding: 0;
    }
    .inputs {
        flex-direction: column;
    }
}

/* Footer */
.footer_bg {
    background-color: var(--main-color);
    padding: 20px 20px 60px;
    position: relative;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 50px;
    margin-right: 0px;
}

.footer_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1; /* Equal width columns */
}

.footer_column--wide {
    flex: 2; /* Makes the first column wider */
    margin-right: 50px; /* Additional space between the first and other columns */
}

.footer_column h2 {
    color: #333; /* Heading color */
    margin-bottom: 10px;
}

.footer_column h4 {
    color: #646090; /* Heading color */
    margin-bottom: 10px;
}

.footer_column p, .footer_column a {
    color: #F8F6F4; /* Adjusting to previous style for text color */
    margin-bottom: 5px;
}

.footer_column--wide p {
    color: #646090;; /* Makes the paragraph text purple */
    margin-top: 10px;
}


.footer_column a {
    font-size: 16px;
    text-decoration: none;
}

.footer_column a:hover {
    text-decoration: underline;
}

.footer_copy {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    color: #222;
    font-size: 18px;
}

/* Responsive Design Tweaks */
@media (max-width: 768px) {
    .footer_container {
        flex-direction: column;
        align-items: center;
    }
    .footer_column {
        align-items: center;
        margin-bottom: 20px;
    }
    .footer_column--wide {
        margin-right: 0;
    }
}



/* .main_footer {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(219,219,219);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: #fff;
} */
/* 
.footer_social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.footer_social a {
    background-color: #fff;
    color: var(--title-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.footer_social a:hover {
    background-color: var(--seconde-color);
    color: #fff;
}

.footer_copy {
    padding: 20px 0;
    color: #dbdbdb;
} */